// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#expansion-list {
  float: left;
  width: 100px;
  h5 {
    margin: 0;
  }
}

#active-sets {
  padding-left: 100px;

  #card-list {
    float: left;
  }

  #user-cards {
    float: right;
  }
}

#card-list {
  .card {
    background-color: "white";
    color: "#200020";

    &.active {
      background-color: "#200020";
      color: "white";
    }
  }
}

#builder {
  .filter {
    display: none;

    &.active {
      display: block;
    }
  }
}